@import "./veriables", "./breakpoints", "./mixins";

.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #fff;
  padding: 0 2rem;
  z-index: 100;
  top: 0;

  @include flexCenter(row, space-between);
  @include md {
    width: 90%;
  }
  img {
    width: 180px;
    height: 40px;
  }
  .links {
    display: none;
    .link {
      font-weight: 500;
      color: $secondary;
      &:hover {
        color: $primary;
      }
    }
    .login {
      @include button($info, $white, $info, $info, 100px, 40px, $white);
      border-radius: 10px;
      font-weight: bold;
      @include flexCenter();
    }
    .uyeol {
      @include button($white, $info, $white, $info, 100px, 40px, $info);
      border-radius: 10px;
      @include flexCenter();
      font-weight: bold;
    }
    @include md {
      width: 30%;
      @include flexCenter(row, space-around);
    }
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    @include flexCenter(row);
    .menuShadow {
      width: 30%;
      height: 100vh;
      background-color: $light;
    }
    .menuContent {
      width: 70%;
      height: 100vh;
      padding: 20px;
      gap: 10px;
      background-color: $info;
      @include flexCenter(column, flex-start, flex-start);
      .link {
        @include text($white, 1.5rem, 400, center);
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .menuIcon {
    color: $info;
    @include md {
      display: none;
    }
  }
}
